<main class="main_container">    
  <div class="main_content">
    <div class="main_shop">
        <div class="main_shop_show_user">
          <div class="main_shop_show_user_left">
            <div class="main_shop_show_user_left_info">
              <div class="main_shop_show_user_left_info1">
                <div class="main_shop_show_user_left_info_left">
                  <img src="https://i.pinimg.com/736x/b1/d3/a6/b1d3a6d64e26399b57e51b0bd77c6c19.jpg" alt="avatar" class="user_avatar" />
                </div>
                <div class="main_shop_show_user_left_info_right">
                  <%= @shop.name%>
                </div>
              </div>
            </div>
            <div class="buttom">
              <button class="main_shop_show_user_left_follow">
                <div class="main_shop_show_user_left_bottum">
                  <div class="main_shop_show_user_left_bottum_follow">
                  Follow
                  </div>
                </div>
              </button>
            </div>
          </div>
          <div class="main_shop_show_user_right">
            <div class="main_shop_show_user_right_between">
              <div class="user_between_profile">
                <div class="user_between_profile_1">
                  <span>
                    <i class="fa fa-file-text" aria-hidden="true"></i>
                    Description : 
                    <span class="size-procudt-form-show">
                      <%= @shop.description%>
                    </span>
                  <span>
                </div>
              </div>

              <div class="user_between_profile">
                <div class="user_between_profile_1">
                  <span>
                    <i class="fa fa-address-card" aria-hidden="true"></i>
                    Address : 
                    <span class="size-procudt-form-show">
                      <%= @shop.address%>
                    </span>
                  <span>
                </div>
              </div>

              <div class="user_between_profile">
                <div class="user_between_profile_1">
                  <span>
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    Phone : 
                    <span class="size-procudt-form-show">
                      <%= @shop.phone%>
                    </span>
                  <span>
                </div>
              </div>
            </div>
            <div class="main_shop_show_user_right_right">
              <div class="user_between_profile">

                <div class="user_between_profile_1">
                  <span>
                    <i class="fa fa-indent" aria-hidden="true"></i>
                    Products : 
                    <span class="size-procudt-form-show">
                      <%= @products.count %>
                    </span>
                  <span>
                </div>
              </div>

              <div class="user_between_profile">
                <div class="user_between_profile_1">
                  <span>
                    Following
                  <span>
                </div>
              </div>

              <div class="user_between_profile">
                <div class="user_between_profile_1">
                  <span>
                    Followers
                  <span>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="main_contacts_head">
      <div class="head_left">
        <div class="head_left_text"><%= t('.my_product') %></div>
      </div>
      <div class="head_right">
        <button class = "btn btn-danger">
          <div class="right_buttom">
            <div class="buttom_icon">
            </div>
            <div class="buttom_text">
              <%= link_to t('.create_product'), new_product_path, class: 'contacts_body_link' %>
            <div>
          </div>
        </button>
      </div>
    </div>
    
    <div class="main_contacts_body">
      <% @products.each do |product| %>
        <div class="contacts_body_field">
          <div class="contacts_body_label_left">
            <div class="contacts_body_label_value">
              <div class="contacts_body_label_value_left">
                <%= t('.name') %>
              </div>
              <div class="contacts_body_label_value_right">
                <div class ="contacts_body_label_value_right_text">
                  <%= product.name %>
              </div>
            </div>
          </div>
          <div class="contacts_body_label_right">
            <% if current_user.shop.id == product.shop.id %>
              <div class="contacts_body_label_right_text">
                <%= link_to t('.update_product'), edit_product_path(product.id), class: 'contacts_body_link1' %>
              </div>
              <div class="contacts_body_label_right_text1">
                  <%= link_to t('.delete'), product, method: :delete, data: { confirm: "You sure?" } %>
              </div>
            <% end %>
          </div>
        </div>

        <div class="contacts_body_field">
          <div class="contacts_body_label_left">
            <div class="contacts_body_label_value">
              <div class="contacts_body_label_value_left">
                <%= t('.description') %>
              </div>
              <div class="contacts_body_label_value_right">
                <div class ="contacts_body_label_value_right_text">
                  <%= product.description %>
              </div>
            </div>
          </div>
        </div>

        <div class="contacts_body_field">
          <div class="contacts_body_label_left">
            <div class="contacts_body_label_value">
              <div class="contacts_body_label_value_left">
                <%= t('.price') %>
              </div>
              <div class="contacts_body_label_value_right">
                <div class ="contacts_body_label_value_right_text">
                  <%= product.price %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="contacts_body_field">
          <div class="contacts_body_label_left">
            <div class="contacts_body_label_value">
              <div class="contacts_body_label_value_left">
                <%= t('.image') %>
              </div>
              <div class="contacts_body_label_value_right">
                <div class ="contacts_body_label_value_right_text">
                  <%= image_tag product.image if product.image.attached? %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>
      <%end%>
    <div>
  </div>
</main>
