<!-- BODY BLOCK -->
<main class="main_container">
  <%= render 'sidebar'%>
  <!-- Main Content -->
  <div class="main_content">
    <div class="main_content_head">
      <h3 class="content_head_title"><%= t('.my_profile') %></h3>
      <div class="content_head_desc"><%= t('.manage_profile') %></div>
    </div>

    <div class="main_content_body">
      <form class="content_body_info">
        <div class="content_body_field">
          <div class="content_form_label"><%= t('.user_name') %></div>
          <div class="content_body_value"><%= current_user.username%></div>
        </div>

        <div class="content_body_field">
          <div class="content_form_label"><%= t('.email') %></div>
            <span class="content_body_value">
              <%= current_user.email%>
              <%= link_to "Thay Đổi", edit_user_path, class: 'content_body_link' %>
            </span>
          </div>
        </div>
      </form>

      <div class="content_body_image">
        <div class="content_body_image_wrap">
          <img src="https://i.pinimg.com/736x/b1/d3/a6/b1d3a6d64e26399b57e51b0bd77c6c19.jpg" alt="edit_avatar" class="content_body_image_display" />
          <label for="image" class="content_body_image_btn">
            <input id="image" type="file" class="content_body_image_file" />
          </label>

          <div class="content_body_image_desc">
            <%= t('.usage') %> <br />
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<!-- FOOTER BLOCK -->
<footer></footer>
